@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Press+Start+2P&display=swap');
body {
    color: red;
    display: flex;
    flex-direction: column;
    font-family: 'Press Start 2P';
    background-color: rgba(100, 100, 100, 1);
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

title {
    font-family: 'Press Start 2P';
}

#canvas {
    box-shadow:  5px  5px  3px rgba(0, 0, 0, 0.07),
                10px 10px  7px rgba(0, 0, 0, 0.1),
                20px 20px 16px rgba(0, 0, 0, 0.13);
    overflow: hidden;
    align-self: center;
    position: absolute;
    background: rgba(0, 0, 0, 1);
    width: 1400px;
    height: 900px;
    max-width: 1400px;
    max-height: 900px;
    display: block;
}
