@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
body {
    color: red;
    display: flex;
    flex-direction: column;
    font-family: 'Permanent Marker', cursive;
    background-color: rgba(120, 120, 120, 1);
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#canvas {
    background: rgba(120, 120, 120, 1);
    height: 100%;
    width: 100%;
    display: block;
}

#spaceship {
    width: 55px;
    height: 55px;
    position: absolute;
    bottom: 20px;
    left: 100px;
    background-color: ;
    box-shadow: 1px 1px rgba(20, 20, 20, 1);
}
