@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Press+Start+2P&display=swap');
body {
    color: red;
    display: flex;
    flex-direction: column;
    font-family: 'Press Start 2P';
    background-color: rgba(100, 100, 100, 1);
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas {
    align-self: center;
    background: rgba(0, 0, 0, 1);
    width: 65%;
    display: block;
}

#score {
    font-size: 32px;
    align-self: center;
}
